# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/

# Logs and databases
*.log
*.sqlite3
*.db
instance/videos_ai.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Jupyter
.ipynb_checkpoints/
